<div class="no-border" layout-fill layout="column" flex>
    <div layout="column" layout-align="center center" flex>
        <div layout="row">
            <div class="hello no-overflow">
                <div class="transit-up-down" translate ng-if="true">welcome.hello</div>
            </div>
            <div class="user">
                <div class="transit-fade" ng-if="$ctrl.user">{{$ctrl.user.first_name}}</div>
            </div>
        </div>
        <md-progress-linear md-mode="{{$ctrl.friends?'determinate':'indeterminate'}}"></md-progress-linear>
        <div layout="row" layout-align="center center" ng-switch="$ctrl.user.first_time"
             class="say-hello no-overflow">
            <div class="transit-fade-down-up delay-1000" ng-switch-when="true" translate>welcome.make</div>
            <div class="transit-fade-down-up delay-1000" ng-switch-when="false" translate>welcome.comeback</div>
        </div>
    </div>
    <div class="h-4">
        <div class="h-2 transit-fade" layout="row" layout-align="center center" ng-if="$ctrl.friends">
            <button class="md-button md-primary" ng-click="$ctrl.start()" translate>Start now</button>
        </div>
        <div class="h-2 transit-fade" layout="row" layout-align="center center" ng-if="$ctrl.friends">
            <div ng-if="$ctrl.friends.length" layout="row" layout-align="start center">
                <div class="avt-list" layout="row">
                    <img class="avt-icon" ng-repeat="i in $ctrl.friends" ng-src="{{i.photo}}"/>
                </div>
                <b class="user-name-list" ng-repeat="i in $ctrl.friends">{{i.name}}&nbsp;</b>
                <div translate> and somebody now waiting for you.</div>
            </div>
        </div>
    </div>
</div>
