<div layout-fill layout="column" class="home">
    <md-toolbar class="md-tall">
        <div flex>
        </div>
        <div class="md-toolbar-tools">
            <div flex></div>
            <md-button ng-if="!$ctrl.loginMode"
                       ng-click="$ctrl.loginMode=true">
                <md-icon md-svg-src="asset/img/fb-square.ic.svg" class="md-24" aria-label="Facebook"></md-icon>
                <span translate>welcome.start</span><span>&nbsp;</span>
                <md-icon class="material-icons md-24">arrow_forward</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content flex>
        <div class="welcome" ng-if="!$ctrl.loginMode">
            <div class="banner">
                <div class="sun"></div>
                <div class="scene"></div>
                <div class="actor" layout="row" layout-align="center start">
                    <div class="mango animate-up-down"></div>
                </div>
            </div>
            <div layout="row" layout-align="center start">
                <div class="shadow"></div>
            </div>
        </div>
        <home-auth ng-if="$ctrl.loginMode"></home-auth>
        <div class="broken" layout="row" layout-align="center center" ng-if="$root.connect==='fail'">
            <div class="attention"></div>
            <div layout="column" layout-align="start start">
                <div>
                    <h2>Connection Fail</h2>
                    <p>Try again!</p>
                </div>
            </div>
        </div>
    </md-content>
</div>