<section layout-gt-xs="row" layout-xs="column" layout-fill flex class="map">
    <div class="sidebar" layout-gt-xs="column" layout-xs="row" layout-align="center center">

        <md-button class="md-icon-button" aria-label="World" ng-class="{active:submenu.active===0}" ng-click="submenu.active=0;submenu.toggle()">
            <md-icon aria-label="World" class="material-icons md-24">public</md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="Group" ng-class="{active:submenu.active===1}" ng-click="submenu.active=1">
            <md-icon aria-label="Group" class="material-icons md-24">people</md-icon>
        </md-button>

        <md-button class="md-icon-button" ng-class="{active:submenu.active===2}" ng-click="submenu.active=2">
            <md-icon aria-label="Friend" class="material-icons md-24">person_pin</md-icon>
        </md-button>
    </div>
    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')"
            md-whiteframe="4">

        <md-toolbar class="md-tall">
            <div flex></div>
            <div class="md-toolbar-tools">
                <h2 flex md-truncate>{{me.name}}</h2>
                <md-button class="md-icon-button" ng-click="openId($root.me.id)" ng-disabled="!$root.progress.all" aria-label="Find me">
                    <md-icon aria-label="Friend" class="material-icons md-24">face</md-icon>
                    <md-tooltip md-delay="400" md-direction="right">Find me</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>

        <md-content>
            <md-list class="list">
                <md-subheader class="md-no-sticky">
                    <div layout="row">
                        <span flex>Online friends </span><b ng-if="$root.progress.all">({{$root.friends.length}})</b>
                    </div>
                </md-subheader>
                <md-list-item layout="row" ng-if="!$root.progress.all">
                    <div flex layout="row" layout-align="center center">
                        <md-progress-circular class="md-hue-2" md-diameter="20"></md-progress-circular>
                    </div>
                </md-list-item>
                <md-list-item ng-repeat="i in $root.friends|orderBy:'-date'" ng-click="openId(i.id)">
                    <img alt="{{i.name}}" ng-src="{{i.picture.data.url}}" class="md-avatar"/>
                    <p md-truncate>{{i.name}}</p>
                    <md-button class="md-icon-button status-light" md-no-ink aria-label="Status">
                        <md-icon aria-label="" class="material-icons md-24" ng-class="i.date|old:'old-'">brightness_1</md-icon>
                        <md-tooltip md-delay="400" md-direction="right">{{i.date|ago}}</md-tooltip>
                    </md-button>
                </md-list-item>
                <md-subheader class="md-no-sticky">
                    <div layout="row">
                        <span flex>Offline friends </span><b ng-if="$root.progress.all">({{0}})</b>
                    </div>
                </md-subheader>
                <md-list-item layout="row" ng-if="!$root.progress.all">
                    <div flex layout="row" layout-align="center center">
                        <md-progress-circular class="md-hue-2" md-diameter="20"></md-progress-circular>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <md-content flex layout="column" class="map-area">
        <div class="map-mask" layout="column" layout-align="center center" ng-if="$root.progress.current<100">
            <md-progress-circular md-mode="determinate" value="{{$root.progress.current}}"></md-progress-circular>
            <div layout-padding>{{$root.progress.message}}</div>
        </div>
        <ui-gmap-google-map flex center="map.center" zoom="map.zoom" bounds="map.bounds" pan="true">
            <ui-gmap-marker ng-repeat="m in marker.list" idkey="m.id" coords="m.coords" options="m.options"
                            click="marker.open(m)">
                <ui-gmap-window class="marker-popup" show="m.popup.show" options="m.popup.options" closeClick="marker.close(m.popup)">
                    <div class="marker-popup-content">
                        <div class="marker-popup-cover"><img ng-src="{{m.fb.cover.source}}" alt="No cover photo"/></div>
                        <div class="marker-popup-avt"><img ng-src="{{m.fb.picture.data.url}}" alt="Avatar"/></div>
                        <div class="marker-popup-info" layout="row">
                            <b flex md-truncate class="marker-popup-info-name">{{m.fb.first_name}}</b>
                            <div ng-show="!$root.direct.current.me">
                                <span>{{m.distance/1000| number:3}}km</span>
                                <button class="md-button md-icon-button popup-icon-button"
                                        ng-click="$root.direct.toMe()" ng-disable="!$root.direct.current.distance"
                                        aria-label="Direction">
                                    <md-icon aria-label="Go" class="material-icons md-16 md-green">directions</md-icon>
                                </button>
                            </div>
                            <div ng-show="$root.direct.current.me">I'm here!</div>
                        </div>
                    </div>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>
        <div class="cards-swipe" hide-gt-xs>
            <ul class="cards-wrap" rn-carousel>
                <li ng-repeat="m in marker.list">
                    <md-card>
                        <md-card-header>
                            <md-card-avatar>
                                <img ng-src="{{m.fb.picture.data.url}}" alt="Avatar"/>
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title" md-truncate>{{m.fb.name}}</span>
                                <span class="md-subhead">{{m.distance/1000| number:3}}km</span>
                            </md-card-header-text>
                        </md-card-header>
                        <div class="card-item" >
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-icon-button" aria-label="Say hello">
                                    <md-icon class="material-icons md-green">pan_tool</md-icon>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="Go to">
                                    <md-icon class="material-icons md-green">directions</md-icon>
                                </md-button>
                            </md-card-actions>
                        </div>
                    </md-card>
                </li>
            </ul>
        </div>
    </md-content>
</section>