<section layout-gt-xs="row" layout-xs="column" layout-fill flex class="map">
    <div class="sidebar" layout-gt-xs="column" layout-xs="row" layout-align="center center">

        <md-button class="md-icon-button" aria-label="World" ng-class="{active:submenu.active===0}"
                   ng-click="submenu.active=0;submenu.toggle()">
            <md-icon aria-label="World" class="material-icons md-24">public</md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="Group" ng-class="{active:submenu.active===1}"
                   ng-click="submenu.active=1">
            <md-icon aria-label="Group" class="material-icons md-24">people</md-icon>
        </md-button>

        <md-button class="md-icon-button" ng-class="{active:submenu.active===2}" ng-click="submenu.active=2">
            <md-icon aria-label="Friend" class="material-icons md-24">person_pin</md-icon>
        </md-button>
    </div>
    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')"
            md-whiteframe="4">

        <md-toolbar class="md-tall">
            <div flex></div>
            <div class="md-toolbar-tools">
                <h2 flex md-truncate>{{me.name}}</h2>
                <md-button class="md-icon-button" ng-click="openId($root.me.id)" ng-disabled="!$root.progress.all"
                           aria-label="Find me">
                    <md-icon aria-label="Friend" class="material-icons md-24">face</md-icon>
                    <md-tooltip md-delay="400" md-direction="right">Find me</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>

        <md-content>
            <md-list class="list">
                <md-subheader class="md-no-sticky">
                    <div layout="row">
                        <span flex>Online friends </span><b ng-if="$root.progress.all">({{$root.friends.length}})</b>
                    </div>
                </md-subheader>
                <md-list-item layout="row" ng-if="!$root.progress.all">
                    <div flex layout="row" layout-align="center center">
                        <md-progress-circular class="md-hue-2" md-diameter="20"></md-progress-circular>
                    </div>
                </md-list-item>
                <md-list-item ng-repeat="i in $root.friends|orderBy:'-date'" ng-click="openId(i.id)">
                    <img alt="{{i.name}}" ng-src="{{i.picture.data.url}}" class="md-avatar"/>
                    <p md-truncate>{{i.name}}</p>
                    <md-button class="md-icon-button status-light" md-no-ink aria-label="Status">
                        <md-icon aria-label="" class="material-icons md-24" ng-class="i.date|old:'old-'">
                            {{i.device===1?'desktop_windows':i.device===2?'smartphone':'brightness_1'}}
                        </md-icon>
                        <md-tooltip md-delay="400" md-direction="right">{{i.date|ago}}</md-tooltip>
                    </md-button>
                </md-list-item>
                <md-subheader class="md-no-sticky">
                    <div layout="row">
                        <span flex>Offline friends </span><b ng-if="$root.progress.all">({{0}})</b>
                    </div>
                </md-subheader>
                <md-list-item layout="row" ng-if="!$root.progress.all">
                    <div flex layout="row" layout-align="center center">
                        <md-progress-circular class="md-hue-2" md-diameter="20"></md-progress-circular>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <md-content flex layout="column" class="map-area">
        <div class="map-mask" layout="column" layout-align="center center" ng-if="$root.progress.current<100">
            <md-progress-circular md-mode="determinate" value="{{$root.progress.current}}"></md-progress-circular>
            <div layout-padding>{{$root.progress.message}}</div>
        </div>
        <ui-gmap-google-map flex center="map.center" zoom="map.zoom" bounds="map.bounds" pan="true">
            <ui-gmap-markers models="marker.list" coords="'coords'" options="'options'" click="marker.click"
                             doCluster="true" clusterOptions="marker.cluster">
            </ui-gmap-markers>
        </ui-gmap-google-map>
        <div class="cards-swipe transit-up-down" ng-if="carousel.active!==-1">
            <ul class="cards-wrap" rn-carousel rn-carousel-index="carousel.active" rn-carousel-duration="400"
                rn-carousel-easing="easeOutCubic">
                <li ng-repeat="m in marker.list">
                    <md-card class="card">
                        <div class="card-head">
                            <div class="user-cover" md-colors="::{backgroundColor:'primary'}">

                                <div layout="row" layout-align="space-around start">
                                    <div layout="row" flex>
                                        <md-button class="md-icon-button" aria-label="More">
                                            <md-icon class="material-icons">more_vert</md-icon>
                                        </md-button>
                                    </div>
                                    <div layout="row">
                                        <md-button class="md-icon-button" aria-label="Close" ng-click="marker.close()">
                                            <md-icon class="material-icons">keyboard_arrow_down</md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                            <div class="user-photo">
                                <div class="user-round-photo">
                                    <img ng-src="{{m.fb.picture.data.url}}" alt="::{{m.fb.name}}"/>
                                </div>
                            </div>
                        </div>
                        <md-card-content class="card-item">
                            <div class="card-txt">
                                <div class="md-title" md-truncate>{{m.fb.name}}</div>
                                <div class="md-caption">
                                    <span ng-if="!m.me">{{m.distance/1000|number}}km</span>
                                    <span ng-if="!m.me">{{m.date|ago}}</span>
                                    <span ng-if="m.me">I'm here!</span>
                                </div>
                            </div>
                            <md-card-actions layout="row" layout-align="center start">
                                <md-button class="md-icon-button" ng-click="carousel.actions.hi(m)" ng-if="!m.me" ng-disabled="m.status.waving" aria-label="Say hello">
                                    <md-icon class="material-icons md-green">pan_tool</md-icon>
                                </md-button>
                                <md-button class="md-icon-button" ng-click="carousel.actions.focus(m)" aria-label="Focus">
                                    <md-icon class="material-icons md-green">gps_fixed</md-icon>
                                </md-button>
                                <md-button class="md-icon-button" ng-click="$root.direct.toMe()" ng-if="!m.me"
                                           aria-label="Go to">
                                    <md-icon class="material-icons md-green">directions</md-icon>
                                </md-button>
                            </md-card-actions>
                        </md-card-content>
                    </md-card>
                </li>
            </ul>
        </div>
    </md-content>
</section>