<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="shortcut icon" href="asset/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mango Round</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClAPoOqXhqVipG1zfveIEuqS6G4YYbLv4"></script>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
    <!-- inject-mobile:css -->
    <!-- endinject -->

    <!-- inject-bower:css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-carousel/1.1.0/angular-carousel.min.css">
    <!-- endinject -->

    <!-- inject-app:css -->
    <link rel="stylesheet/less" href="app.less"/>
    <script src="lib/less.js"></script>
    <!-- endinject -->
</head>
<body ng-cloak ng-controller="MasterCtrl" class="master" ng-class="device">
<md-content layout-fill layout="column">

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->
    <div flex layout="column">
        <div ng-view layout-fill flex layout="column"></div>
    </div>
    <div id="footer" hide-xs layout="row" layout-align="center center" aria-hidden="false">
        <div>
            Powered by Mango ©2017.
            Code licensed under the <a class="md-accent">MIT License</a>.
            Mango seed app: version
            <a target="_blank" class="md-default-theme md-accent"><span app-version></span></a>.
            <a class="md-accent" href="#" ng-click="signOut()" ng-if="$root.isAuth">Sign out</a>
        </div>
    </div>
</md-content>
<!-- inject-bower:js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-cordova/0.1.27-alpha/ng-cordova.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-messages.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-aria.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-touch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-carousel/1.1.0/angular-carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-simple-logger/0.1.7/angular-simple-logger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.4.1/angular-google-maps.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.17.0/angular-translate.min.js"></script>
<!-- endinject -->

<!-- inject-app:js -->
<script src="constant/lang.en.js"></script>
<script src="constant/lang.vi.js"></script>
<script src="env/env.ci.js"></script>
<script src="env/env.js"></script>
<script src="app.js"></script>
<script src="ctrl/master.ctrl.js"></script>
<script src="ctrl/home.js"></script>
<script src="ctrl/home.auth.ctrl.js"></script>
<script src="ctrl/home.ctrl.js"></script>
<script src="ctrl/map.js"></script>
<script src="ctrl/map.ctrl.js"></script>
<script src="ctrl/map.group.ctrl.js"></script>
<script src="ctrl/info.ctrl.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version.directive.js"></script>
<script src="components/version/interpolate.filter.js"></script>
<script src="components/device/device.js"></script>
<script src="components/device/device.service.js"></script>
<script src="components/back/back.js"></script>
<script src="components/back/user.filter.js"></script>
<script src="components/back/user.service.js"></script>
<script src="components/back/group.service.js"></script>
<script src="components/back/notify.service.js"></script>
<script src="components/storage/storage.js"></script>
<script src="components/storage/local-storage.service.js"></script>
<script src="components/storage/session-storage.service.js"></script>
<!-- endinject -->

<!-- inject-mobile:js -->

<!-- endinject -->
</body>
</html>
